<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Compiled and minified CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>
    <%= title %>
  </title>

</head>

<!-- body -->

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Anime Watchlistgit</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if (user) { %>
          <li>
            <a href="/anime">Anime Index</a>
          </li>

          <li>
            <a href="/auth/logout">Log Out</a>
          </li>
          <% } else { %>
            <li>
              <a href="/auth/google">Login with Google</a>
            </li>
            <% } %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <% if (user) { %>
      <li>
        <a href="/anime">Anime Index</a>
      </li>

      <li>
        <a href="/auth/logout">Log Out</a>
      </li>
      <% } else { %>
        <li>
          <a href="/auth/google">Login with Google</a>
        </li>
        <% } %>
  </ul>