<nav class="searchbar  pink accent-2">
  <div class="nav-wrapper searchbar">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">arrow_forward</i>
      </div>
    </form>
  </div>
</nav>