<%- include('partials/header') %>
  <h1>Welcome, <%= user ? user.name : "user" %>
  </h1>

  <div class="carousel watchlist-carousel" fullWidth=true>

    <% anime.forEach(a=> { %>
      <a class="carousel-item" href="#one!">
        <img src=<%=a.imageUrl%>>
      </a>
      <% }) %>

  </div>

  <%- include('partials/footer') %>