<%- include('partials/header') %>
  <div class="carousel watchlist-carousel" fullWidth=true>

    <% if (anime) { %>
      <% anime.forEach(a=> { %>
        <% if (user) { %>
          <a class="carousel-item" href="/anime/<%=a.kitsuId%>">
            <% } else { %>

              <% } %>
                <img src=<%=a.imageUrl%>>
                <% }) %>
                  <% } %>

  </div>

  <%- include('partials/footer') %>