<%- include('partials/header') %>
  <div class="carousel watchlist-carousel" fullWidth=true>

    <% if (anime) { %>
      <% anime.forEach(a=> { %>
        <a class="carousel-item" href="/anime/<%=a.kitsuId%>">
          <img src=<%=a.imageUrl%>>
          <% }) %>
            <% } %>
  </div>

  <%- include('partials/footer') %>