 html {
 box-sizing: border-box
}

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
 box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

:root {
 font-size: 55%
}

.card-content, 
.status-container,  
.anime-sub-data,
.detail-page-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status-container .status{
  margin-left: 5px;
}

.card-title{
  margin: 0;
  padding: 0;
}

.row{
  margin-top: 10px;
}

.searchbar{
  border-radius: 35px;
}

.finished{
  color: red;
}

.sep{
  margin-left: 2px;
  margin-right: 2px;
}
