 html {
 box-sizing: border-box
}

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
 box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  background-image: url('../images/mikasa.jpg'), url('../images/katane.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 15%, 20%;
}

img{
  max-width: 100%;
  height: auto;
}

button{
  border: none;
  background-color: white;
  color: dodgerblue;
}

button:hover{
  color: hotpink;
}

:root {
 font-size: 55%
}

.card-content, 
.status-container,
.anime-data-holder,
.anime-sub-data,
.detail-page-links,
.search-col,
.user-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.anime-card{
  border: black 1px solid;
  border-radius: 5px;
}

.status-container .status{
  margin-left: 5px;
}

.card-title{
  margin: 0;
  padding: 0;
}

.row{
  margin-top: 10px;
}

.searchbar{
  border-radius: 50px;
  border: dodgerblue solid 1px;
}

.finished{
  color: red;
}

.sep{
  margin-left: 2px;
  margin-right: 2px;
}

.anime-data{
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      dodgerblue, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

a:hover{
  color: hotpink;
}

.nav-wrapper{
  background-color: dodgerblue;
}

.profile{
  margin-top: 1%;
}

.favorites{
  margin-bottom: 10px;
}

.avatar{
  border-radius: 50%;
  margin-left: -10vw;
  margin-bottom: 8px;
}

.anime-image{
  padding-top: 5px;
}

.gradient-box {
	 margin: auto;
	 position: relative;
	 box-sizing: border-box;
	 color: #fff;
	 background: #000;
	 background-clip: padding-box;
	 border: solid 1rem transparent;
}
 .gradient-box:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 z-index: -1;
	 margin: -5px;

	 border-radius: inherit;

	 background: linear-gradient(to right, hotpink, dodgerblue);
}